# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
/02-bookshop-app/bookshop.iml
/04-inheritance/target/classes/com/jjh/main/
/target
*.classes
*.iml
/out
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/jpa-buddy.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_7_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_7_0.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_7_0.xml
/.idea/libraries/Maven__org_opentest4j_opentest4j_1_2_0.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries/Maven__org_apiguardian_apiguardian_api_1_1_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_7_0.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_7_0.xml
